/* page layout */
#main{
    width: 99.99%;
    max-width: 1920px;
    margin: 1px auto;
}

/* right side grid */
.main-right{
    position: fixed;
    width: calc(100vw - 241px);
    margin-left: 241px;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 250px;
    gap: 1px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

/* right side Delete record output */
.delete-record-output{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    box-sizing: border-box;
}
#delete-record-output-form{
    display: flex;
    gap: 2px;
    flex-direction: column;
    width: 100%;
}
#delete-record-table{
    align-self: center;
    width: 95%;
    border-spacing: 1px;
}
#delete-record-table th{
    padding: 3px 5px;
    background-color: burlywood;
}
#delete-record-table tr:nth-child(even) {
    background-color: rgb(247, 209, 160);
}
#delete-record-table td{
    padding: 10px;    
}
#delete-record-output-form button{
    padding: 5px;
    border: none;
    border-radius: 5px;
    width: 100px;
    align-self: center;
    color: burlywood;
    background-color: #2C3E50;
    cursor: pointer;
}
#delete-record-output-form button:hover{
    color: wheat;
    background-color: darkred;
}

/* right side Access record form */
.delete-record-form{
    height: 100%;
    background-color: burlywood;
    position: sticky;
    padding: 20px;
    align-items: center;
}
.delete-record-form h3{
    text-align:center;
    margin-bottom: 20px;
}
.delete-record-form select{
    background-color: wheat;
}
.delete-record-form select:hover{
    background-color: burlywood;
}
.input-group{
    margin-bottom:10px;
    box-sizing: border-box;
}

.input-group label{
    font-weight: bold;
}

.input-group input{
    width: 100%;
    padding:10px;
    border-radius:6px;
    border: 1px solid slategrey;
    background:wheat;
    font-size: 0.95rem;
}
#delete-record-button{ 
    width:100%;
    padding:10px;
    background-color: #2C3E50;
    color:wheat;
    border:none;
    border-radius: 5px;
    font-size:16px;
    cursor:pointer;
    transition-duration: 0.4s;
    
}
#delete-record-button:hover{
    color: wheat;
    background-color: darkred;
}

@media (max-width: 990px) {
    .side-nav{
        width: 50px;
    }
    .buttons-container button{
        visibility: hidden;
    }
    .main-right {
        margin-left: 51px;
        width: calc(100vw - 51px);
        grid-template-columns: 250px;
    }
    .delete-record-output {
        visibility: hidden;
    }
    .delete-record-form{
        position: sticky;
        bottom: 0;
        padding: 40px;
    }
}